/* ------------------------------
HEADER 
--------------------------------*/
header{
    background:white;
}

header img{
    width:60%;
    text-align:center;
    position:relative;
   margin-left:20%;
   margin-right:20%;
}


/* ------------------------------
SECTION 
--------------------------------*/
section{
    width:30%;
    background:white;
    border: 1px grey solid;
    display:inline-block;
    margin: auto auto;
    height:372px;
    /* margin-left:25%;
    margin-right:50%;
    float:left; */
}


/* ------------------------------
ASIDE 
--------------------------------*/

.aside-header{
    text-align:center;
    background-color: white;
    padding-top:10px;
    padding-bottom:10px;
    border:1px grey solid;
}
aside{
    width:30%;
    /* margin: 50px auto; */
    background-color: blue;
    position:relative;
    border:1px grey solid;
    display:inline-block;
}

#executioner{
    width:50px;
    position:absolute;
    bottom:5px;
    right:5px;
}

#hangman{
    height:370px;
}
/* ------------------------------
FOOTER 
--------------------------------*/

footer{
    background-color: rgba(48, 47, 41, 0.9);
    height:70px;
    position:relative;
    border-top:3px green solid;
}

footer img{
    width:50px;
    text-align:center;
    margin:auto;
    position:relative;
}

.footer-container{
    text-align:center;
}

#github{
    border-radius:50%;
    margin:10px;
}

#linkedin{
    border-radius:6%;
    margin:10px;
}

#gmail{
    border-radius:5%;
    margin:10px;
    margin-bottom:15px;

}